<div class="signup">
  <div class="header">
    <h1>Complete Angular Tutorial?</h1>
  </div>

  <p>
    Welcome to the Angular tutorial. This Tutorial covers all vensions of
    Angular Strarting from Angular 2 to the latest options of i.e. Angular 8.
    Angular 9 & angular 10. We have created a simple and step by step tutorial
    for beginner to learn all the deatures of the Angular.
  </p>

  <form>
    <p class="form-header">SignUp for free content</p>
    <div class="inputs">
      <div class="first-last-name">
        <input class="firstname" placeholder="First Name" />
        <input class="lastname" placeholder="Last Name" />
      </div>
      <div class="email">
        <input placeholder="Email Address" />
      </div>
      <div class="password">
        <input placeholder="Create Password" />
      </div>
    </div>
    <button>Register</button>
  </form>
</div>
