.list-container {
        margin-top: 4px;
        list-style-type: none;
        /* border-style: dashed; */
        border-color: black;
}

li {
        border: 1.5px #CCCCCC solid;
        margin-bottom: 5px;
        font-size: 1.5rem;
}

li:hover {
        background-color: #2B537D;
        color: aliceblue;
}