.list-container {
        list-style-type: none;
        border-style: dashed;
        border-color: black;
}

li {
        border: 1px black solid;
        margin-bottom: 5px;
        font-size: 1.5rem;
}

li:hover {
        background-color: rgb(87, 87, 236);
        color: aliceblue;
}